- content_for :title, "#{@user.username}'s profile - Stripes"

#userinfo
  %ul#meta    
    %li<
      = meta_pluralize @user.media_count, "photo"
    %li#meta-followers<
      = meta_pluralize @user.followers, "follower"
    %li<
      %span><
        = @user.following
      following
    - unless @user.id == @current_user.id
      %li.action
        - if @relation.outgoing == "follows"
          %span#button-unfollow.flat.following
        - else
          %span#button-follow.follow Follow
  = image_tag @user.profile_picture_url, :width => 60, :alt => "#{@user.username}'s portrait"
  %h2<
    = @user.username
  - unless @user.full_name.empty?
    %p#name<
      =@user.full_name
  - unless @user.website.empty?
    %p#url<
      =link_to @user.website, @user.website
  - unless @user.bio.empty?
    %p#bio<
      =@user.bio
    
.photos#user{ "data-next-max-id" => (@next_page_max_id if @next_page_max_id), "data-user-id" => @user.id }
  = render :partial => "shared/feed_item", :collection => @photos, :as => :p
  = render :partial => "shared/fake_preloader"