.thumbnail
  .ratio
  %a.link-to-photo{ :href => media_url(p.user.username, p.instagram_id) }
    %img.photo{:src => p.image.medium.url, :alt => "#{p.user.username}'s photo preview" }
    - if p.title
      %span.title
        = p.title

  %span.user
    %a{ :href => profile_url(p.user.username), :title => "View #{p.user.username}'s profile" }<
      %img{:src => p.user.profile_picture_url, :alt => "#{p.user.username}'s portrait"}
      = p.user.username

  %ul.actions
    %li.comment<
      %span Comments:
      %b<
        = p.comments_count
    %li.like{:class => ("liked" if p.liked), "data-media-id" => p.id, :title => "Like #{p.user.username}'s photo" }<
      %span Likes:
      %b<
        = p.likes_count