%li{ "data-comment-id" => comment.id }
  %a.author{ :href => profile_url(comment.user.username), :title => "View #{comment.user.username}'s profile" }><
    = comment.user.username
  = ": "
  = raw parse_usernames(comment.text)
  %span.time<
    ="#{time_ago_in_words(comment.created_at)} ago"