- content_for :title, (@photo.title ? "#{@photo.title}" : "#{@photo.user.username}'s photo") + " - Stripes"

#photo

  #sidebar
    #general
      #profile
        %img{:src => @photo.user.profile_picture_url, :alt => "#{@photo.user.username}'s portrait"}
        
        %h3<
          = link_to @photo.user.username, profile_url(@photo.user.username), { :title => "Link to #{@photo.user.username}'s profile" }
        - unless @photo.user.full_name.empty?
          %h4<
            =@photo.user.full_name
        - unless @photo.user.bio.empty?
          %p.meta<
            =@photo.user.bio
        - unless @photo.user.website.empty?
          %p
            %a{:href => @photo.user.website}<
              =@photo.user.website
      
      #details
        -if @photo.title
          %p.caption<
            = raw("&laquo;#{@photo.title}&raquo;")
            
        -if @photo.location
          =render_location_image @photo.location.latitude, @photo.location.longitude
          
        %p.meta.sherlock
          =raw("This shot was created #{time_ago_in_words(@photo.created_at)} ago with filter #{@photo.filter}.")

      %ul.actions#actions
        %li.likes{:class => ("disabled" if @photo.likes_count == 0)}
          ="#{@photo.likes_count} likes"
        %li.comments{:class => ("disabled" if @photo.comments_count == 0)}
          ="#{@photo.comments_count} comments"
          
    #likes
      #navbar<
        %span Back
        ="#{@likes_users.length} likes for this shot"
      %ul
        -@likes_users.each do |user|
          %li
            %img{:src => user.profile_picture_url, :alt => "#{user.username}'s portrait"}
            = link_to user.username, profile_url(user.username), { :title => "View #{user.username}'s profile" }
  
    #comments
      #navbar<
        %span Back
        ="#{@comments.length} comments"
      %ul
        = render :partial => "comment", :collection => @comments
          
  %img{:src => @photo.image.large.url, :alt => "#{@photo.user.username}'s photo"}