!!! 5
%html
  %head
    %title
      = yield :title
    = stylesheet_link_tag :application
    = javascript_include_tag :application
    = csrf_meta_tag
    %link{ :rel => :icon, :type => "image/png", :href => "favicon.png" }

  %body
    = render "shared/menu"
    .container
      = yield

    - if Rails.env.production?
      %script{ :type => "text/javascript" }= "<script type=\"text/javascript\"> var _gauges = _gauges || []; (function() { var t   = document.createElement('script'); t.type  = 'text/javascript'; t.async = true; t.id    = 'gauges-tracker'; t.setAttribute('data-site-id', '4f462b96844d5209a0000017'); t.src = '//secure.gaug.es/track.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(t, s); })(); </script>"